@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap');

:root {

    --white: #FFFFFF; 
    --black: #2D2125; 
    --pink: #EE6A50; 
    --blue: #114B5F; 
    --brown: #DCC4A9;
    --font1:'Comfortaa'; 
    --font2: 'Chivo Mono', monospace;
  }

.nav-bar {
  /* margin-left: 150px; */
  /* margin: 0px 200px; */
  padding-top: 100px; 
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: var(--white);
  color: var(--black);
  font-family: var(--font1);
  font-size: 25px; 
  position: fixed;
  top: 0;
  max-width: 70%;
  width: 100%;
  z-index: 2;
}

.nav-bar li:nth-of-type(3) {
  color: var(--blue);
}

.nav-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
}

.nav-bar li {
  margin: 0 10px;
}

.nav-link {
  display: block;
  color: (var(--white));
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.nav-bar li:hover {
  color:var(--pink);
  text-decoration: underline;
}

.logo-img {
  width: 260px;
  height: 46px;
}



