@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");

:root {
  --text-colour: #2d2125;
  --grey: #333;
  --background-colour: #fefbfb;
  --tomato-colour: #ee6a50;
  --grey-background-colour: #dcc4a9;
  --font1: "Tilt Prism", sans-serif;
  --font2: "Chivo Mono", monospace;
}

.nav-bar {
  background-color: var(--background-colour);
  font-family: var(--font2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.nav-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-bar li {
  margin: 0 10px;
}

.nav-link {
  display: block;
  color: var(--text-colour);
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  background-color: var(--grey-background-colour);
  color: var(--text-colour);
}

.nav-link:active {
  color: var(--tomato-colour);
}
