@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap");

:root {
  --white: #ffffff;
  --black: #2d2125;
  --pink: #ee6a50;
  --blue: #0d57be;
  --lightblue: #6bbcc5;
  --brown: #dcc4a9;
  --font1: "Comfortaa";
  --font2: "Chivo Mono", monospace;
}

.App {
  text-align: center;
  background-color: var(--white);
}

.App-header {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--white);
}

.App-link {
  color: #61dafb;
}

.item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
  padding: 0 0 50px 0;
  background-color: var(--white);
}

.artist-studio {
  /* margin-top: 200px; */
  display: flex;
  flex-direction: column;
}

#conclusion {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#conclusion img {
  width: 68%;
  height: 68%;
  object-fit: contain;
}
