@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap');

:root {
  --white: #FFFFFF; 
  --black: #2D2125; 
  --pink: #EE6A50; 
  --blue: #0d57be; 
  --lightblue: #6bbcc5;
  --brown: #DCC4A9;
  --font1:'Comfortaa'; 
  --font2: 'Chivo Mono', monospace;
}

.App {
  text-align: center;
  background-color: var(--white);
}

.App-header {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:var(--white);
}

.App-link {
  color: #61dafb;
}

.item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
  padding: 0 0 50px 0;
  background-color: var(--white);
}

.artist-studio {
  /* margin-top: 200px; */
  display: flex;
  flex-direction: column;
}
